{% extends 'base.html' %}
{% block body %}
  <center>
  
  <h1> Contact Us </h1>
  
  <div class="contact-grid"> 
    <div>
      <img src="/static/images/faqs.png" style="width:30%">
      <h3> FAQs </h3>
    </div> 

    <div>
      <img src="/static/images/resources.png" style="width:30%">
      <h3> Resources </h3>
    </div> 

    <div>
      <img src="/static/images/bugs.png" style="width:30%">
      <h3> Bugs & Troubleshooting </h3>
    </div> 

    <div>
     <img src="/static/images/volunteer.png" style="width:30%">
     <h3> Volunteer </h3>
    </div> 

    <div>
     <img src="/static/images/donate.png" style="width:30%">
     <h3> Donate </h3>
    </div>

    <div>
     <img src="/static/images/community.png" style="width:30%">
     <h3> Join our Community </h3>
    </div> 

  </div> 


  </center>

{% endblock %}