{% extends 'base.html' %}
{% block body %}

  <button id="post-story"> Push me </button>


  <div class="featured-story">
    <div>
      <p> Author </p>
      <h3><b> Title </b></h3>
      <p> story preview story preview story preview story preview story preview story preview story preview story preview story preview story preview story preview story preview story preview story preview story preview story preview story preview story preview story preview story preview story preview story preview story preview </p>
    </div>

    <div>
      
    </div>

  </div>

  <div class="story-grid">
    <p> lakdj </p>
    <p> lakdj </p>
    <p> lakdj </p>
    <p> lakdj </p>
    <p> lakdj </p>

  </div>

  <!-- Need filter, then list of titles that can be clicked through/sidebars that auto filter so you can "go to" the page for a specific country/custom -->

  <script src="/static/js/forum.js"></script>
{% endblock %}