{% extends 'base.html' %}
{% block body %}
  

  <div class="title-grid">
    <div>
      <h1> <b> Lens for Culture </b> </h1>
      <br><br>
      <p id="mission-content"> <h2> Our Mission: </h2> Project Culture is a website designed to engage individuals around the world in meaningful discussion about different cultures. We aim to create a platform for people to create, educate, and propogate. </p>
      <br><br>
      <button> Log In/Register </button>
    </div>

    <div>
      <img src="/static/images/lens.png" style="width:50%; padding:30px;">
    </div>
  </div>

  <br><br><br>
  <div class="description-grid">
    <div>
      <img src="/static/images/create.png" style="width:20%">
      <h2> Create </h2>
      <p> add content </p>
    </div>
    
    <div>
      <img src="/static/images/educate.png" style="width:20%">
      <h2> Educate </h2>
      <p> add content </p>
    </div>

    <div>
      <img src="/static/images/propogate.png" style="width:20%">
      <h2> Propogate </h2>
      <p> add content </p>
    </div>
  </div>


  <br><br><br>
  <center> <h2> Meet the Team </h2> </center>
  <div class="team-grid"> 
    <div>
      <img src="/static/images/" >
      <h3> Name </h3>
    </div>
    <div>
      <img src="/static/images/" >
      <h3> Name </h3>
    </div>
    <div>
      <img src="/static/images/" >
      <h3> Name </h3>
    </div>
    <div>
      <img src="/static/images/" >
      <h3> Name </h3>
    </div>
    <div>
      <img src="/static/images/" >
      <h3> Name </h3>
    </div>
    <div>
      <img src="/static/images/" >
      <h3> Name </h3>
    </div>
    <div>
      <img src="/static/images/" >
      <h3> Name </h3>
    </div>
    <div>
      <img src="/static/images/" >
      <h3> Name </h3>
    </div>
    <div>
      <img src="/static/images/" >
      <h3> Name </h3>
    </div>
    <div>
      <img src="/static/images/" >
      <h3> Name </h3>
    </div>

  </div>
{% endblock %}