{% extends 'base.html' %}
{% block body %}
  
<link rel = "stylesheet" type = "text/css" href = "static/css/index.css" />

  <div class="title-grid">
    <div>
      <h1> <b> Project Culture </b> </h1>
      <br><br>
      <p id="mission-content"><h3> To magnify the world around us — real people, real voices, real cultures — with you.</h3> </p>
      <br><br>
      <a href="/login"><button class = "zoom"> Log In/Register </button></a>
    </div>

    <div>
      <img src="/static/images/lens.png" style="width:50%; padding:30px;">
    </div>
  </div>

  <br><br><br>
  <center> <h2> Meet the Team </h2> </center>
  <div class="team-grid"> 

     <div class = "team-member img_wrap"> 
      <img class = "member-photo uniform" src="/static/images/Jessica.png" />
      <p class = "img_description">Jessica He</p> 
      <h3> Jessica</h3>
     </div>
    <div class = "team-member img_wrap">
      <img class = "member-photo uniform" src="/static/images/Dhruv.png">
      <p class = "img_description">Dhruv Nandakumar</p>
      <h3> Dhruv </h3>
    </div>

    <div class="team-member img_wrap">
      <img class = "member-photo uniform" src="/static/images/Aleix.png">
      <p class = "img_description"> Aleix Estevadeordal </p>
      <h3> Aleix</h3>
    </div>

    <div class="team-member img_wrap">
      <img class = "member-photo uniform" src="/static/images/Trey.png" >
      <p class = "img_description">Trey Weltens</p>
      <h3> Trey </h3>
    </div>
  
    <div class="team-member">
      <img class = "member-photo" src="/static/images/lens.png">
      <p class = "img_description">im really sorry</p>
      <h3> Name </h3>
    </div>

    <div class="team-member">
      <img class = "member-photo" src="/static/images/lens.png" >
      <h3> Name </h3>
    </div>

    <div class="team-member">
      <img class = "member-photo" src="/static/images/lens.png">
      <h3> Name </h3>
    </div>

    <div class="team-member">
      <img class = "member-photo" src="/static/images/lens.png" >
      <h3> Name </h3>
    </div>

    <div class="team-member">
      <img class = "member-photo" src="/static/images/lens.png" >
      <h3> Name </h3>
    </div>

    <div class="team-member">
      <img class = "member-photo" src="/static/images/lens.png" >
      <h3> Name </h3>
    </div>

  </div>

  
{% endblock %}