<html>

  <head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    
  </head>

  <body>
	  <!-- Login heading -->
	  <center>

      <h4 id = "alert"></h4>
      <h3 style="margin-top:2.5%"><b>Login</b></h3>
      <hr></hr>
      <!-- Username textbox -->
      <div class = "container centerContainer">
          <input type = "text" placeholder = "Enter Username" id = "username-input">

          <br><br>
          
          <!-- Password textbox -->
          <input type = "password" placeholder = "Enter Password" id = "password-input">
          <br><br>
          <!-- "Show Password" button -->
          <input type = "checkbox" id = "showPasswordButton" name = "showPasswordButton" class = "space">
          <label for = "showPasswordButton">Show Password</label>

          <br><br>
        
        <!-- Login button -->
        <button type = "button" class = "loginButton" id="login-button">Login</button>

        <br><br>
        <a href="/signup"> Don't have an account? Sign up here. </a>
      </div>
    </center>
    <script src="static/js/login.js"></script>
    </body>
</html>